*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0
    ;
}
.container{
    width: 80%;
    height:400px;
    max-width: 900px;
    margin:20px auto;
    border: 2px solid black;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap : 20px;

    

}
.box{
    width: 150px;
    height: 100px;
    font-size: 0.5rem;
    
}

.box1{
    background-color: lightblue;
}
.box2{
    background-color: lightgreen;
}
.box3{
    background-color: lightcoral;
}

.head {
    width: 100%;
    height: 50px;
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 15px;
}
.nav a{
    text-decoration: none;
    gap: 10px;
}